<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to Share My Fare, <%= @user.firstname %> <%= @user.lastname %></h3>
    <p>
	You have been successfully signed up.<br/>
	your Username is: <%= @user.username %>.<br/>
	your Confirmation is: <%= @user.confirmation %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: 
	<a href="http://sharemyfare.herokuapp.com/confirmation?confirmation=<%= @user.confirmation %>">Here</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
