<h1>Listing regularsubscriptions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Regularshare</th>
    <th>Amount</th>
    <th>Passengers</th>
    <th>Status</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @regularsubscriptions.each do |regularsubscription| %>
  <tr>
    <td><%= regularsubscription.user_id %></td>
    <td><%= regularsubscription.regularshare_id %></td>
    <td><%= regularsubscription.amount %></td>
    <td><%= regularsubscription.passengers %></td>
    <td><%= regularsubscription.status %></td>
    <td><%= regularsubscription.details %></td>
    <td><%= link_to 'Show', regularsubscription %></td>
    <td><%= link_to 'Edit', edit_regularsubscription_path(regularsubscription) %></td>
    <td><%= link_to 'Destroy', regularsubscription, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regularsubscription', new_regularsubscription_path %>
