<%= form_for(@casualcomment) do |f| %>
  <% if @casualcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casualcomment.errors.count, "error") %> prohibited this casualcomment from being saved:</h2>

      <ul>
      <% @casualcomment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :casualshare_id %><br />
    <%= f.number_field :casualshare_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
