<%= form_for(@casualsubscription) do |f| %>
  <% if @casualsubscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casualsubscription.errors.count, "error") %> prohibited this casualsubscription from being saved:</h2>

      <ul>
      <% @casualsubscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :casualshare_id %><br />
    <%= f.number_field :casualshare_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :passengers %><br />
    <%= f.number_field :passengers %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
