<h1>Listing casualsubscriptions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Casualshare</th>
    <th>Amount</th>
    <th>Passengers</th>
    <th>Status</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @casualsubscriptions.each do |casualsubscription| %>
  <tr>
    <td><%= casualsubscription.user_id %></td>
    <td><%= casualsubscription.casualshare_id %></td>
    <td><%= casualsubscription.amount %></td>
    <td><%= casualsubscription.passengers %></td>
    <td><%= casualsubscription.status %></td>
    <td><%= casualsubscription.details %></td>
    <td><%= link_to 'Show', casualsubscription %></td>
    <td><%= link_to 'Edit', edit_casualsubscription_path(casualsubscription) %></td>
    <td><%= link_to 'Destroy', casualsubscription, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Casualsubscription', new_casualsubscription_path %>
