<h1>Regular Shares</h1>

<table border=1 width=1000>


<% @regularshares.each do |regularshare| %>
  <tr>
    <td> 
	<p> Created By : <%= regularshare.user.firstname %>  <br/>
	<b> Source : </b><%= Place.find(regularshare.source_id).placename %> |
	<b> Destination : </b><%= Place.find(regularshare.destination_id).placename %><br/>
        <b> Starting Time :</b><%= regularshare.starttime %> |
        <b> Reaching Time :</b><%= regularshare.endtime %><br/><br/>
        <%= link_to 'Show', regularshare %> | 
        <%= link_to 'Edit', edit_regularshare_path(regularshare) %> |
        <%= link_to 'Destroy', regularshare, confirm: 'Are you sure?', method: :delete %></p>
    </td>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regularshare', new_regularshare_path %>
