<h1>Casual Shares</h1>

<table border=1 width=1000>


<% @casualshares.each do |casualshare| %>
  <tr>
    <td> 
	<p> Created By : <%= casualshare.user.firstname %>  <br/>
	<b> Source : </b><%= Place.find(casualshare.source_id).placename %> |
	<b> Destination : </b><%= Place.find(casualshare.destination_id).placename %><br/>
        <b> Starting Time :</b><%= casualshare.starttime %> |
        <b> Reaching Time :</b><%= casualshare.endtime %><br/><br/>
        <%= link_to 'Show', casualshare %> | 
        <%= link_to 'Edit', edit_casualshare_path(casualshare) %> |
        <%= link_to 'Destroy', casualshare, confirm: 'Are you sure?', method: :delete %></p>
    </td>	
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Casualshare', new_casualshare_path %>
