
<table width=1000 align=center border=0><tr><td width=65% valign=top>
<p>
  <b>User:</b>
  <%= @casualshare.user.firstname %>
</p>

<p>
  <b>Source:</b>
  <%= Place.find(@casualshare.source_id).placename %>
</p>

<p>
  <b>Destinatoin:</b>
  <%= Place.find(@casualshare.destination_id).placename %>
</p>

<p>
  <b>Starttime:</b>
  <%= @casualshare.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @casualshare.endtime %>
</p>

<p>
  <b>Vehicle:</b>
  <%= @casualshare.vehicle %>
</p>

<p>
  <b>Amount:</b>
  <%= @casualshare.amount %>
</p>

<p>
  <b>Numofpassengers:</b>
  <%= @casualshare.numofpassengers %>
</p>

<p>
  <b>Details:</b>
  <%= @casualshare.details %>
</p>


<%= link_to 'Edit', edit_casualshare_path(@casualshare) %> |
<%= link_to 'Back', casualshares_path %>

</td><td>
<%= render 'shared/casualsubscription_form' %>

<% unless @casualsubscriptions.empty? %>

<table class="microposts" style="text-align:left;" border=1 cellspacing=0 width=400>
<%= render @casualsubscriptions %>
</table>

<% end %>
</td></tr>
<tr><td>
<br/><hr />
<%= render 'shared/casualcomment_form' %>

<% unless @casualcomments.empty? %>

<table class="microposts" style="text-align:left;" border=1 cellspacing=0 width=400>
<%= render @casualcomments %>
</table>
<% end %>

</td></tr>

</table>
